<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire validation</title>

    <script src="https://www.google.com/recaptcha/api.js"></script>


    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="all.css"> 
</head>
<body>
    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <h2 style="text-align: center;"><FONT face="Times New Roman"><I>Form Validation</I></FONT></h2>
    </div>

    <%- body %>
    
    <script src="script.js"></script> 
    <script src="bootstrap.min.js"></script>
    <script src="popper.min.js"></script> 
    <script src="jquery.min.js"></script>
    <script src="all.js"></script>
</body>
</html>